<div id="header">
    <div id="header_logo">
        {% load static %}
        <img src="{% static 'img/logo_menu.png' %}" alt="Logo of Flying Monthy web page"> 
    </div>
    <div id="menu">
            <a href="{% url 'home' %}" class="menu_link_left">GŁÓWNA</a>
            <a href="top.html" class="menu_link_left">TOP 10</a>
            <a href="add.html" class="menu_link_left">WRZUĆ</a>

            {% if user.is_authenticated %}
            <a href="#" class="menu_link_right">Zalogowano jako {{ user.username }}</a>
            <a href="{% url 'logout' %}" class="menu_link_right">WYLOGUJ</a>
            {% else %}
            <a href="{% url 'login' %}" class="menu_link_right">LOGOWANIE</a>
            <a href="{% url 'register' %}" class="menu_link_right">ZAREJESTRUJ</a>
            {% endif %}
    </div>
</div>

