<meta charset="utf8"/>
<title>Flying Monthy - zbiorowisko memów i śmiesznego kontentu</title>
<meta name="descriptioin" content="Flying Monthy - zbiorowisko memów i śmiesznego kontentu"/>
<meta name="keywords" content="django, webapi, rest, meme, memy, śmieszne, "/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<link rel="stylesheet" href="style.css" type="text/css"/>
<link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />