{% extends 'base.html' %}

{% block content %}
    {% include 'content.html' %}
{% endblock %}

<!--TO PONIŻEJ DO USUNIECIA BO WSZYSTKO JEST W PLIKU BASE.HTML. ALE ŁUKASZ TO STWORZYŁ WIĘC NA RZIE TO ZAKOMENTOWAŁEM-->


<!--<!DOCTYPE HTML>-->
<!--    -->
<!--<html lang="pl">-->
<!--    -->
<!--    -->
<!--<head>-->
<!--    {% include 'head.html' %}-->
<!--</head>-->

<!--<body>-->
<!--    {% include 'header.html' %}-->
<!--    {% include 'content.html' %}-->
<!--    {% include 'footer.html' %}-->
<!--</body>-->

<!--</html>-->