{% block content %}
<div>
    <div class="search">
        <p>Wyszukiwarka memów</p>
    <form action="" method="POST">
        <label for="search">
        <input id="search" type="search" name="search">
        </label>

        <select id="search_by" name="search_by">
        <option value="user_from_template">Użytkownik</option>
        <option value="title_from_template">Tytuł</option>
        <option value="category_from_template">Kategoria</option>
        </select>

        {% csrf_token %}
        <button type="submit">Wyszukaj</button>

        <br><br>
    </form>
    </div>


    <ul>
        {% for post in memes %}
        <h2>{{ post.title }}</h2>
        <h3>{{ post.author }}</h3>
        <h4>{{ post.category}}, Creation date: {{ post.created_on}}</h4>
        <a href="{% url 'post-detail' post.id %}"><img width="500" src="{{ post.cover.url}}" alt="{{ post.title }}"></a>
        {% endfor %}
    </ul>

    <br>
    {% if memes.has_other_pages %}
    <div class="pagination">
        {% if memes.has_previous %}
        <a href="?page={{ memes.previous_page_number }}">&laquo;</a>
        {% else %}
        <span class="hidden"><span>&laquo;</span></span>
        {% endif %}

        {% for i in memes.paginator.page_range %}
        {% if memes.number == i %}
        <span class="active"><span>{{ i }} <span class="sr-only"></span></span></span>
        {% else %}
        <a href="?page={{ i }}">{{ i }}</a>
        {% endif %}
        {% endfor %}

        {% if memes.has_next %}
        <a href="?page={{ memes.next_page_number }}">&raquo;</a>
        {% else %}
        <span class="hidden">&raquo;</span>
        {% endif %}
    </div>
    <br><br><br>
    {% endif %}

    <br>
</div>
{% endblock %}


